.git
.gitignore

.env
.env.local
.env.*.local
*.patch

.vscode
.idea
Thumbs.db
.DS_Store

__pycache__
**/__pycache__
*.pyc
*.pyo

.ipynb_checkpoints
**/.ipynb_checkpoints

airflow/logs
airflow/logs/**

minio_data
postgres_warehouse_data
airflow_postgres_data

spark_ivy
spark_ivy/**
spark_health
spark_health/**
spark_checkpoints
spark_checkpoints/**

runtime
runtime/**
data/collector/*.jsonl

*.log