# env
.env
.env.local
.env.*.local
!.env.example

# local runtime data
minio_data/
postgres_warehouse_data/

# airflow
airflow/logs/
airflow/logs/**

# jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# python
__pycache__/
**/__pycache__/
*.pyc

# data
data/
data/**
**/data/

# spark
spark_checkpoints/
**/spark_checkpoints/
spark_health/
**/spark_health/
spark_ivy/
**/spark_ivy/


# os / ide
.vscode/
.idea/
Thumbs.db
.DS_Store

# jars and dist
shared/spark-dist/**
shared/spark-jars/**

# job runs for dashboard
runtime/job_runs/*.jsonl