# env
.env

# local runtime data
minio_data/
postgres_warehouse_data/

# airflow
airflow/logs/

# jupyter
.ipynb_checkpoints/

# python
__pycache__/
*.pyc

# os / ide
.vscode/
.idea/
Thumbs.db
.DS_Store